header:not(.tweets) {
  height: 400px;
  width: 100%;
  background-color: #7dccfd;
  /* background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png"); */
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
