header:not(.indiv-header) {
  margin: 120px;
  height: 400px;
  width: 100%;
  background-color: #7dccfd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 1024px) {
  section.new-tweet{
    margin-top: 10%;
  }
  body:not(nav){
    flex-direction: row;
    align-items: flex-start;
  }
  body > *:not(nav) {
    margin: 5% ;
  }
  header:not(.indiv-header) {
    margin: 15% 0% 5% 5%;
  }
} 
