/* Each tweet container */
article {
  margin-top: 5%;
  margin-bottom: 5%;
  display: flex;
  align-content: center;
  border: 5px solid black;
  flex-direction: column;
}
article:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

/* Designing th individual header */
header.indiv-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header.indiv-header div {
  display: flex;
  align-items: center;
}
header.indiv-header a {
  margin: 1em;
}
header.indiv-header img {
  margin: 1em;
}

/* Main Tweet Styling */
main.tweet {
  margin-left: 1%;
  margin-right: 1%;
  border-bottom: 5px solid black;
}

/* Footer Styling */
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer p {
  margin-left: 1em;
}
footer div {
  display: flex;
}
footer div > * {
  margin-right: 1em;
}